Repository leung018/zero-in: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, yarn prettier --cache --write --ignore-unknown, ktlint --format, swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'

yarn up vite
  apps/firebase/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

yarn up wxt
  apps/extension/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Add reminder on build script
  apps/mobile/build-and-submit.sh
Due: none

CLAUDE.md symlink to .cursorrules
  CLAUDE.md
Due: yarn prettier --cache --write --ignore-unknown

Proposal fix by claude code
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/modules/app-blocker/android/src/main/AndroidManifest.xml
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/AppBlockerModule.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
Due: yarn prettier --cache --write --ignore-unknown, ktlint --format

Fix by claude
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Fix getForegroundApp
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockingService.kt
Due: ktlint --format

Reduce the polling interval
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockingService.kt
Due: ktlint --format

Reduce window size of queryUsageStats
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockingService.kt
Due: ktlint --format

yarn expo install --check
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Update build script
  apps/mobile/build-and-submit.sh
Due: none

Add commit hash build info by claude
  apps/mobile/app.config.ts
  apps/mobile/build-and-submit.sh
  apps/mobile/components/side-menu.tsx
Due: yarn prettier --cache --write --ignore-unknown

Fix type error by ai
  apps/mobile/components/side-menu.tsx
Due: yarn prettier --cache --write --ignore-unknown

Add local development as displayed build info
  apps/mobile/components/side-menu.tsx
Due: yarn prettier --cache --write --ignore-unknown

yarn expo install --fix
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Improve permission request of alarm
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: ktlint --format

Change release status of internal track
  apps/mobile/eas.json
Due: yarn prettier --cache --write --ignore-unknown

Experiment with unspecified status
  apps/mobile/eas.json
Due: yarn prettier --cache --write --ignore-unknown

Prevent app blocking service being killed
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockingService.kt
Due: ktlint --format

Fix won't sync when reopen app in background
  apps/mobile/app/(tabs)/_layout.tsx
Due: yarn prettier --cache --write --ignore-unknown

Proposal fix of blocking overlay problem by ai
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockingService.kt
Due: ktlint --format

Proposal fix by ai
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/modules/app-blocker/android/src/main/AndroidManifest.xml
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/AppBlockerModule.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
Due: yarn prettier --cache --write --ignore-unknown, ktlint --format

Set root resolution for expo-constants
  package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Remove misleading alert
  apps/mobile/app/dev-test.tsx
Due: yarn prettier --cache --write --ignore-unknown

Remove unnecessary version code checking
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: ktlint --format

Change to other action for not violating policy
  apps/mobile/modules/app-blocker/android/src/main/AndroidManifest.xml
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: ktlint --format

Improve procedures of update battery setting
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: yarn prettier --cache --write --ignore-unknown, ktlint --format

Update permission descriptions
  apps/mobile/app/(tabs)/blocking.tsx
Due: yarn prettier --cache --write --ignore-unknown

Note of how to force run background task by claude
  apps/mobile/README.md
Due: yarn prettier --cache --write --ignore-unknown

Add .claude/worktrees to gitignore
  .gitignore
Due: none

Modify diagnostic logs
  apps/mobile/infra/app-block/toggling-runner.ts
Due: yarn prettier --cache --write --ignore-unknown

Add more diagnostic by claude
  apps/mobile/infra/app-block/toggling-runner.ts
Due: yarn prettier --cache --write --ignore-unknown

Fix for headless not register task
  apps/mobile/index.js
  apps/mobile/package.json
Due: yarn prettier --cache --write --ignore-unknown

Remove debug logs
  apps/mobile/infra/app-block/toggling-runner.ts
Due: yarn prettier --cache --write --ignore-unknown

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  yarn prettier --cache --write --ignore-unknown: any of: *.{js,jsx,ts,tsx,vue,css,scss,md,mdx,json,yml,yaml}
  ktlint --format: any of: *.{kt,kts}
  swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods': any of: *.swift
