Repository leung018/zero-in: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, yarn prettier --cache --write --ignore-unknown, ktlint --format, swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{js,jsx,ts,tsx,vue,css,scss,md,mdx,json,yml,yaml}": "yarn prettier --cache --write --ignore-unknown",
  "*.{kt,kts}": "ktlint --format",
  "*.swift": "swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'"
}

Update react-native-firebase version
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Refactor
  apps/mobile/app/_layout.tsx
Due: yarn prettier --cache --write --ignore-unknown

Revert "Ai generation of BlockingSyncBanner"
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/(tabs)/statistics.tsx
  apps/mobile/components/blocking/BlockingSyncBanner.spec.tsx
  apps/mobile/components/blocking/BlockingSyncBanner.tsx
Due: yarn prettier --cache --write --ignore-unknown

Attempt to fix focus session record bug
  apps/extension/src/service-workers/listener.spec.ts
  apps/extension/src/service-workers/listener.ts
Due: yarn prettier --cache --write --ignore-unknown

Add group to dependabot
  .github/dependabot.yml
Due: yarn prettier --cache --write --ignore-unknown

Fix timerBasedSetting trigger appBlockToggling
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/components/blocking/TimerBasedSetting.spec.tsx
  apps/mobile/components/blocking/TimerBasedSetting.tsx
Due: yarn prettier --cache --write --ignore-unknown

Add test coverage
  apps/mobile/components/blocking/WeeklySchedulesEditor.spec.tsx
Due: yarn prettier --cache --write --ignore-unknown

Improve UI description
  apps/mobile/app/select-apps.tsx
Due: yarn prettier --cache --write --ignore-unknown

Draft by AI
  apps/mobile/modules/app-blocker/android/build.gradle
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/AppBlockerModule.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockedAppsPreferences.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/BlockingService.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Update to latest stable version
  apps/mobile/modules/app-blocker/android/build.gradle
Due: none

Fix android dateTimePicker by ai
  apps/mobile/app/dev-test.tsx
Due: yarn prettier --cache --write --ignore-unknown

Refactor by gemini 3 antigravity
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/AppBlockerModule.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Antigravity gemini fix its error
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/AppBlockerModule.kt
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: ktlint --format

Use toUri
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: ktlint --format

Add uri in requestUsageStatsPermission
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ContextExtensions.kt
Due: ktlint --format

Fix sign out still subscribing
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
Due: yarn prettier --cache --write --ignore-unknown

Fix loading screen problem in android
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/AppPickerView.kt
Due: ktlint --format

Add app variant
  apps/mobile/app.config.ts
  apps/mobile/eas.json
  apps/mobile/package.json
Due: yarn prettier --cache --write --ignore-unknown

Update GoogleService-info.plist
  apps/mobile/GoogleService-Info.plist
Due: none

Update google-services.json
  apps/mobile/google-services.json
Due: yarn prettier --cache --write --ignore-unknown

Specify app variant in cng
  apps/mobile/build-and-submit.sh
  apps/mobile/package.json
Due: yarn prettier --cache --write --ignore-unknown

Fix typo
  apps/mobile/package.json
Due: yarn prettier --cache --write --ignore-unknown

Ios use same bundle identifier
  apps/mobile/app.config.ts
Due: yarn prettier --cache --write --ignore-unknown

Download back from dev firebase original ios
  apps/mobile/GoogleService-Info.plist
Due: none

Remove auto rebase flow
  .github/workflows/dependabot-auto-rebase.yml
Due: yarn prettier --cache --write --ignore-unknown

yarn up expo follow by yarn expo install --check
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Add expo-image
  apps/mobile/app.config.ts
Due: yarn prettier --cache --write --ignore-unknown

yarn expo install --check
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

yarn dedupe
  yarn.lock
Due: none

Remove deprecated config (they always enabled)
  apps/mobile/app.config.ts
Due: yarn prettier --cache --write --ignore-unknown

Remove not using files
  apps/mobile/components/haptic-tab.tsx
  apps/mobile/components/hello-wave.tsx
  apps/mobile/components/parallax-scroll-view.tsx
  apps/mobile/components/themed-text.tsx
  apps/mobile/components/themed-view.tsx
  apps/mobile/components/ui/collapsible.tsx
  apps/mobile/components/ui/icon-symbol.ios.tsx
  apps/mobile/components/ui/icon-symbol.tsx
  apps/mobile/constants/theme.ts
  apps/mobile/hooks/use-color-scheme.ts
  apps/mobile/hooks/use-color-scheme.web.ts
  apps/mobile/hooks/use-theme-color.ts
Due: yarn prettier --cache --write --ignore-unknown

Add notes in hooks
  apps/mobile/hooks/README.md
Due: yarn prettier --cache --write --ignore-unknown

Change external-link to readme
  apps/mobile/components/external-link.md
Due: yarn prettier --cache --write --ignore-unknown

Update notes
  apps/mobile/hooks/README.md
Due: yarn prettier --cache --write --ignore-unknown

Update notes
  apps/mobile/components/external-link.md
  apps/mobile/hooks/README.md
Due: yarn prettier --cache --write --ignore-unknown

Mixed typing fix by me and antigravity
  apps/mobile/infra/firebase/react-native-firestore-adapter.ts
Due: yarn prettier --cache --write --ignore-unknown

Simplify typing
  apps/extension/src/infra/firebase/web-firestore-adapter.ts
  packages/shared/src/infra/storage/firebase/firestore/adapter.ts
Due: yarn prettier --cache --write --ignore-unknown

yarn expo install --fix
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

yarn up firebase-tools
  apps/extension/package.json
  apps/firebase/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Add setup java
  .github/workflows/extension-ci.yml
Due: yarn prettier --cache --write --ignore-unknown
