Repository leung018/zero-in: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, yarn prettier --cache --write --ignore-unknown, ktlint --format, swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'

Fix error when handling remote notification
  apps/mobile/index.js
  apps/mobile/infra/push/background-notification-task.ts
  apps/mobile/infra/push/notification-task-payload.spec.ts
  apps/mobile/infra/push/notification-task-payload.ts
Due: yarn prettier --cache --write --ignore-unknown

Fix this.getCurrentUserId is not a function
  apps/extension/src/infra/storage/push-notifying.ts
Due: yarn prettier --cache --write --ignore-unknown

Add error log
  apps/extension/src/infra/storage/push-notifying.ts
Due: yarn prettier --cache --write --ignore-unknown

Improve error handling
  packages/shared/src/infra/push/expo-push-client.ts
Due: yarn prettier --cache --write --ignore-unknown

Update comment
  apps/mobile/infra/push/notification-task-payload.ts
Due: yarn prettier --cache --write --ignore-unknown

Bug fix by claude tdd
  apps/mobile/domain/app-block-toggling.spec.ts
  apps/mobile/domain/app-block-toggling.ts
Due: yarn prettier --cache --write --ignore-unknown

Add minDate
  packages/shared/src/utils/date.spec.ts
  packages/shared/src/utils/date.ts
Due: yarn prettier --cache --write --ignore-unknown

Change test case name by claude
  apps/mobile/domain/app-block-toggling.spec.ts
Due: yarn prettier --cache --write --ignore-unknown

Rename function
  apps/mobile/domain/app-block-toggling.ts
Due: yarn prettier --cache --write --ignore-unknown

Remove invalid value
  apps/mobile/app.config.ts
Due: yarn prettier --cache --write --ignore-unknown

SImplify the tip
  apps/mobile/app/(tabs)/index.tsx
Due: yarn prettier --cache --write --ignore-unknown

Improve error handling
  apps/mobile/app/sign-in.tsx
Due: yarn prettier --cache --write --ignore-unknown

Upgrade react native firebase dependencies
  apps/mobile/package.json
  yarn.lock
Due: yarn prettier --cache --write --ignore-unknown

Add claude fix of cng
  apps/mobile/app.config.ts
Due: yarn prettier --cache --write --ignore-unknown

Update ai rules
  .cursorrules
Due: none

Update agent rules
  .cursorrules
Due: none

Move permission to separate file
  apps/mobile/modules/app-blocker/index.ts
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
  apps/mobile/modules/app-blocker/src/permission.ts
Due: yarn prettier --cache --write --ignore-unknown

Refactor to PermissionBanners
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/components/blocking/PermissionBanners.tsx
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
  apps/mobile/modules/app-blocker/src/permission.ts
Due: yarn prettier --cache --write --ignore-unknown

Refactor to foreground-notifier
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/components/blocking/PermissionBanners.tsx
  apps/mobile/infra/foreground-notifier.ts
Due: yarn prettier --cache --write --ignore-unknown

Trigger app blocking after permission request
  apps/mobile/app/(tabs)/blocking.tsx
  apps/mobile/components/blocking/PermissionBanners.spec.tsx
  apps/mobile/components/blocking/PermissionBanners.tsx
  apps/mobile/modules/app-blocker/src/permission.ts
Due: yarn prettier --cache --write --ignore-unknown

Trigger app blocking by refreshPermissionStatus
  apps/mobile/components/blocking/PermissionBanners.spec.tsx
  apps/mobile/components/blocking/PermissionBanners.tsx
Due: yarn prettier --cache --write --ignore-unknown

Add test case
  apps/mobile/components/blocking/PermissionBanners.spec.tsx
Due: yarn prettier --cache --write --ignore-unknown

Add permission banner display test case
  apps/mobile/components/blocking/PermissionBanners.spec.tsx
Due: yarn prettier --cache --write --ignore-unknown

Improve triggerAppBlockToggling
  apps/mobile/infra/app-block/toggling-runner.ts
Due: yarn prettier --cache --write --ignore-unknown

Enrich description
  apps/mobile/app/(tabs)/index.tsx
Due: yarn prettier --cache --write --ignore-unknown

Fix the permission stale problem
  apps/mobile/modules/app-blocker/ios/AppBlockerModule.swift
  apps/mobile/modules/app-blocker/ios/SelectionStore.swift
Due: swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'

Improve error handling
  apps/mobile/modules/app-blocker/ios/AppBlockerModule.swift
Due: swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'

Move AppBlockerPermissions to infra
  apps/mobile/components/blocking/PermissionBanners.spec.tsx
  apps/mobile/components/blocking/PermissionBanners.tsx
  apps/mobile/infra/app-block/permission.ts
  apps/mobile/modules/app-blocker/index.ts
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
  apps/mobile/modules/app-blocker/src/permission.ts
Due: yarn prettier --cache --write --ignore-unknown

Remove unnecessary type annotation
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
Due: yarn prettier --cache --write --ignore-unknown

Remove unnecessary comment
  apps/mobile/modules/app-blocker/src/AppBlockerModule.ts
Due: yarn prettier --cache --write --ignore-unknown

Add MY_PACKAGE_REPLACED
  apps/mobile/modules/app-blocker/android/src/main/AndroidManifest.xml
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Rename Receiver
  apps/mobile/modules/app-blocker/android/src/main/AndroidManifest.xml
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Make exported false
  apps/mobile/modules/app-blocker/android/src/main/AndroidManifest.xml
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Enrich logging
  apps/mobile/modules/app-blocker/android/src/main/java/expo/modules/appblocker/ScheduleWorkers.kt
Due: ktlint --format

Update comment by claude
  apps/mobile/app.config.ts
Due: yarn prettier --cache --write --ignore-unknown

Simplify unnecessary branches
  apps/mobile/modules/app-blocker/ios/AppBlockerModule.swift
  apps/mobile/modules/app-blocker/ios/AppPickerView.swift
  apps/mobile/modules/app-blocker/ios/SelectionStore.swift
Due: swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods'

Update timer description
  apps/mobile/app/(tabs)/index.tsx
Due: yarn prettier --cache --write --ignore-unknown

Update TimePicker
  apps/mobile/components/blocking/WeeklySchedulesEditor.spec.tsx
  apps/mobile/components/blocking/WeeklySchedulesEditor.tsx
Due: yarn prettier --cache --write --ignore-unknown

Refactor TimeChange function
  apps/mobile/components/blocking/WeeklySchedulesEditor.tsx
Due: yarn prettier --cache --write --ignore-unknown

Add remind msg on ios
  apps/mobile/infra/app-block/toggling-runner.ts
Due: yarn prettier --cache --write --ignore-unknown

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  yarn prettier --cache --write --ignore-unknown: any of: *.{js,jsx,ts,tsx,vue,css,scss,md,mdx,json,yml,yaml}
  ktlint --format: any of: *.{kt,kts}
  swiftformat --swiftversion 5.9 --exclude '**/node_modules,**/ios/Pods': any of: *.swift
